
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*.left-side {
    background-image: url("/assets/img/11.jpg");
   background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
}
*/

/* stylee/stylee.css */
.left-side {
    background-image: url("/assets/img/11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-side {
    background-image: url("/assets/img/11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    position: relative; /* Add this */
}


.left-side p {
    position: absolute;
    top: 10px;
    left: 10px;
    font-style: italic; /* Add this */
}



.social-icons {
    margin-top: 20px;
}

.right-side {
    background-image: url(/assets/img/corner.jpg);
    background-color: #f4f4f4;
    padding: 20px;
    width: 50%;
}
/*.social-icons a {
    margin-bottom: 10px;
}*/
